
                <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
              
               <div class="form-group">
                 <div class="control-label col-md-2">
                    <%= f.label :name, class: "white" %> 
                 </div>
                 <div class="col-md-8">
                   <%= f.text_field :name, class: 'form-control', placeholder: "Enter your name here", autofocus: true %>
                 </div>
               </div>
    
               <div class="form-group">
                 <div class="control-label col-md-2">
                    <%= f.label :email, class: "white" %> 
                 </div>
                 <div class="col-md-8">
                   <%= f.text_field :email, class: 'form-control', placeholder: "Your Email address", autofocus: true %>
                 </div>
               </div>
    
              
              <div class="form-group">
                 <div class="control-label col-md-2">
                    <%= f.label :password, class: "white" %> 
                 </div>
                 <div class="col-md-8">
                   <%= f.password_field :password, class: 'form-control', placeholder: "Enter Password" %>
                 </div>
               </div>
               
               <div class="form-group">
                 <div class="control-label col-md-2">
                    <%= f.label :password_confirmation, class: "white" %> 
                 </div>
                 <div class="col-md-8">
                   <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Re-enter password here" %>
                 </div>
               </div>
              
              
              
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <%= f.submit class: "btn btn-primary" %> 
                  <%= link_to "Back to Index", projects_path, class: "btn btn-warning" %>
                  <%= link_to "Leave Page", root_path, class: "btn btn-success" %>
                </div>
              </div>
            
            <% end %>
        