<div class="container">
    <div class="row">
        <div class="col-md-12">
           
             <p>
                <%= form_for(@project, :html => {class: "form-horizontal", role: "form"}) do |f| %>
              
               <div class="form-group">
                 <div class="control-label col-md-2">
                    <%= f.label :company, class: "white" %> 
                 </div>
                 <div class="col-md-8">
                   <%= f.text_field :company, class: 'form-control', placeholder: "Name of company worked with", autofocus: true %>
                 </div>
               </div>
    
               <div class="form-group">
                 <div class="control-label col-md-2">
                    <%= f.label :title, class: "white" %> 
                 </div>
                 <div class="col-md-8">
                   <%= f.text_field :title, class: 'form-control', placeholder: "position held", autofocus: true %>
                 </div>
               </div>
    
              
              <div class="form-group">
                 <div class="control-label col-md-2">
                    <%= f.label :description, class: "white" %> 
                 </div>
                 <div class="col-md-8">
                   <%= f.text_area :description, rows: 5, class: 'form-control', placeholder: "Add project description" %>
                 </div>
               </div>
              
              
              
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <%= f.submit class: "btn btn-success" %> 
                  <%= link_to "Back to Index", projects_path, class: "btn btn-warning" %>
                </div>
              </div>
            
            <% end %>
         </p>
           
        </div>
    </div>
</div>