<div id="portfolio">
    <div class="container">
        <h2 align="center" class="white">Projects</h2>
        <div class="row">
            <div align="center">
                <% @projects.each do |project| %>
                   <h3 class="white">Company<%= project.company %></h3>
                   <p class="white">Title<%= project.title %></p>
                   <p class="white">Description<%= project.description %></p><br />
                   <p><%= link_to "Edit", edit_project_path(project), class: "btn btn-warning" %>
                      <%= link_to "View", project_path(project), class: "btn btn-primary"  %>
                      <%= link_to "Back to Main Page", root_path, class: "btn btn-success"  %>
                      <%= link_to "Delete", project_path(project), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %>
                  </p>
                  <br />
            <% end %>
            </div>
        </div>
    </div>
</div>