
<div id="portfolio">
    
        <div align="center"><%= link_to "Add a Project", new_project_path, class: "btn btn-primary" %></div>
        <h2 align="center">Projects</h2>
       <div class="container">
            <div class="row">
            <div align="center" class="blue index-area">
                <% @projects.each do |project| %>
                   <h3 class="white title-space"><%= project.company %></h3>
                   <p class="white"><%= project.title %></p>
                   <p class="white"><%= project.description %></p><br />
                   <p><%= link_to "Edit", edit_project_path(project), class: "btn btn-warning" %>
                      <%= link_to "View", project_path(project), class: "btn btn-primary"  %>
                      <%= link_to "Back to Main Page", root_path, class: "btn btn-success"  %>
                      <%= link_to "Delete", project_path(project), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %>
                  </p>
                  <br />
            <% end %>
            </div>
        </div>
       </div>
    
</div>













 