<div class="container">
  <div class="row">
    <div class="project-form">
      <h2 align="center" class="title-header"><%= @project.company %></h2>
      <div class="col-md-10 col-md-offset-1">
          <p align="center">
            Responsibility: <%= @project.title %>
          </p>
          <br />
          <p align="center">
            Project: <%= @project.description %>
          </p>
          <br />
          <p align="center">
            <%= link_to "Main Page", root_path, class: "btn btn-success" %>
            <% if logged_in? %>
              <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary" %>
              <%= link_to "All Projects", projects_path, class: "btn btn-warning" %>
              <%= link_to "Delete Project", project_path(@project), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %>
            <% end %>
          </p>
      </div>
    </div>
  </div>
</div>