<div class="container">
    <div class="row">
      <%= render 'layouts/flash' %>
      <div class="title-header">
      <h2 align="center"><%= @detail.name %></h2>


      <div class="col-md-10 col-md-offset-1">


          <p align="center">
            <%= image_tag @detail.picture.url, class: "detail-pic" if @detail.picture? %>
          </p>
          <br />

          <p>
            <%= simple_format @detail.description %>
          </p>
          <br />
          <p align="center">
            <%= link_to "What the World can see", root_path, class: "btn btn-success" %>
            <%= link_to "Company Projects", projects_path, class: "btn btn-primary" %>
            <%= link_to "Edit your Details", edit_detail_path(@detail), class: "btn btn-warning" %>
            <%= link_to "Delete Your Details", detail_path(@detail), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </p>

      </div>

    </div>
    </div>
</div>
