<!-- Navigation -->
<div id="nav">
  <nav class="navbar navbar-custom navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
        <button type="button white" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><i class="fa fa-bars"></i> 
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "CDC", root_path, class: "navbar-brand page-scroll white" %> </li>
          </ul>
          <ul class="nav navbar-nav navbar-right pull-right">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden"><a href="#page-top"></a> </li>
            <li><%= link_to "About CDC", root_path(anchor: 'about') %></li>
            <li><%= link_to "Edit CDC Info", details_path %></li>
            <li><%= link_to "Portfolio", root_path(anchor: 'portfolio') %></li>
            <li><%= link_to "Edit Portfolio", projects_path %></li>
            <li> <a class="page-scroll" href="#resume">Resume</a> </li>
            <li> <a class="page-scroll" href="#contact">Contact</a> </li>
            <li><%= link_to "login", login_path %></li>
            <% if logged_in? %>
               <li><%= link_to "Log Out", login_path, method: :delete %></li>
            <% end %>
          </ul>
      </div> <br />
    </div>
  </nav>
</div><br /><br />

<a class="page-scroll" href="#portfolio">Portfolio</a>